[submodule "ant"]
	path = ant
	url = git@github.com:meez/air-ant-support.git
[submodule "Flash-Animated-GIF-Library"]
	path = Flash-Animated-GIF-Library
	url = git@github.com:meez/Flash-Animated-GIF-Library
	branch = pmcd-goto
